$bg_user_section: linear-gradient(270deg, rgb(14, 62, 52) 0%, rgb(0, 136, 126) 75%) !default;
$bg_user_statistics: #FFFFFF !default;
$bg_checkin_btn: #2ead97 !default;
$bg_checkin_btn_hover: #084e41 !default;
$bg_checkout_btn: #2ead97 !default;
$bg_checkout_btn_hover: #084e41 !default;
$divd_border_color: #2eac96 !default;
$bg_dashboard_nav: #2ead97 !default;
$bg_dashboard_nav_hover: #084e41 !default;
$color_nav: #0B2E59 !default;
$bg_card: #f4fefe !default;
$bg_card_button: linear-gradient(270deg, #0e3e34 0%, #00887e 75%) !default;
$bg_card_header: linear-gradient(270deg, #0e3e34 0%, #00887e 75%) !default;


@if variable-exists(sidebar_bg){
    $bg_user_section: $sidebar_bg;
}