$primary_accent: #263850 !default;
$secondary_accent: #2b4158 !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: #555b6d !default;
$primary_hover: #124a84 !default;
$bg_main: #263850;
$bg_second: #2b4158;
$text_white: #ffffff !default;
// SIDEBAR THEME 
$sidebar_bg: linear-gradient(135deg, #406082 0%, #263850 45%);
$sidebar_logo_max_width: 100px;
$sidebar_menu_item_color: #FFFFFF;
$sidebar_menu_item_hover_color: #FFFFFF;
$sidebar_menu_item_hover_bg: #1e2230;
$sidebar_menu_padding: 0 0 150px 0;

