.openerp .oe_form .oe_form_field_time_delta input {
    width: 100%;
}

.openerp .oe_form .oe_form_field_delta div {
    border: 1px solid;
    display: inline-block;
    height: 14px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    width: 40px;
}

.oe_list_field_time_delta div {
    border: 1px solid;
    display: inline-block;
    height: 14px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    width: 40px;
}

.time_delta_box {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}
.colorpicker-element .input-group-addon i,
.colorpicker-element .add-on i {
  display: inline-block;
  cursor: pointer;
  /* height: 16px; */
  height: 100%;
  vertical-align: unset;
  width: 30px;
  border: 1px solid #c7c7c7;
  border-left: none;
}

.o_rtl .colorpicker-element .input-group-addon i,
.o_rtl .colorpicker-element .add-on i {
    border: 1px solid #c7c7c7;
    border-left: none;
}
.o_rtl .colorpicker-right:before{
    left: auto;
    right: 6px;
}
.o_rtl .colorpicker-right:after{
    left: auto;
    right: 7px;
}