@font-face {
    font-family: "Bukra";
    font-style: normal;
    font-weight: 400;
    src: url(/exp_base_document_layout_fonts/static/src/fonts/bukraregular.otf)
            format("opentype"),
        url(/exp_base_document_layout_fonts/static/src/fonts/bukralight.ttf)
            format("truetype");
}

@font-face {
    font-family: "Bukra";
    font-style: normal;
    font-weight: 700;
    src: url(/exp_base_document_layout_fonts/static/src/fonts/bukrabold.otf)
            format("opentype"),
        url(/exp_base_document_layout_fonts/static/src/fonts/bukrabold.ttf)
            format("truetype");
}

@font-face {
    font-family: "DroidKufi";
    font-style: normal;
    font-weight: 400;
    src: url(/exp_base_document_layout_fonts/static/src/fonts/DroidKufi-Regular.eot);
    src: url(/exp_base_document_layout_fonts/static/src/fonts/DroidKufi-Regular.woff2)
            format("woff2"),
        url(/exp_base_document_layout_fonts/static/src/fonts/DroidKufi-Regular.woff)
            format("woff"),
        url(/exp_base_document_layout_fonts/static/src/fonts/DroidKufi-Regular.ttf)
            format("truetype");
}
@font-face {
    font-family: "DroidKufi";
    font-style: normal;
    font-weight: 700;
    src: url(/exp_base_document_layout_fonts/static/src/fonts/DroidKufi-Bold.eot);
    src: url(/exp_base_document_layout_fonts/static/src/fonts/DroidKufi-Bold.woff2)
            format("woff2"),
        url(/exp_base_document_layout_fonts/static/src/fonts/DroidKufi-Bold.woff)
            format("woff"),
        url(/exp_base_document_layout_fonts/static/src/fonts/DroidKufi-Bold.ttf)
            format("truetype");
}
@font-face {
    font-family: "DroidNaskh";
    font-style: normal;
    font-weight: 400;
    src: url(/exp_base_document_layout_fonts/static/src/fonts/DroidNaskh-Regular.eot);
    src: url(/exp_base_document_layout_fonts/static/src/fonts/DroidNaskh-Regular.woff2)
            format("woff2"),
        url(/exp_base_document_layout_fonts/static/src/fonts/DroidNaskh-Regular.woff)
            format("woff"),
        url(/exp_base_document_layout_fonts/static/src/fonts/DroidNaskh-Regular.ttf)
            format("truetype");
}
@font-face {
    font-family: "DroidNaskh";
    font-style: normal;
    font-weight: 700;
    src: url(/exp_base_document_layout_fonts/static/src/fonts/DroidNaskh-Bold.eot);
    src: url(/exp_base_document_layout_fonts/static/src/fonts/DroidNaskh-Bold.woff2)
            format("woff2"),
        url(/exp_base_document_layout_fonts/static/src/fonts/DroidNaskh-Bold.woff)
            format("woff"),
        url(/exp_base_document_layout_fonts/static/src/fonts/DroidNaskh-Bold.ttf)
            format("truetype");
}
