// web/login
//////////////

$form_bg_color: white;
$label_color: black;
$span_label_color: white;
$inputs_font_color: black;
$inputs_outline: rgb(155, 155, 155);
$inputs_outline_hover: #1F5B75;
$login_buttons_bg: #1F5B75;
$login_buttons_bg_hover: #1F5B75;
$buttons_font_color: white;
$buttons_font_color_hover: white;
$login_bg_img: url(../img/odex_bg.jpg);
