// ENGLISH FONTS

// ARABIC FONTS

// ARABIC - Droid Kufi
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(/odex_themecraft/static/src/fonts/arabic/DroidKufi-Regular.eot);
    src: url(/odex_themecraft/static/src/fonts/arabic/DroidKufi-Regular.woff2) format('woff2'),
        url(/odex_themecraft/static/src/fonts/arabic/DroidKufi-Regular.woff) format('woff'),
        url(/odex_themecraft/static/src/fonts/arabic/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(/odex_themecraft/static/src/fonts/arabic/DroidKufi-Bold.eot);
    src: url(/odex_themecraft/static/src/fonts/arabic/DroidKufi-Bold.woff2) format('woff2'),
        url(/odex_themecraft/static/src/fonts/arabic/DroidKufi-Bold.woff) format('woff'),
        url(/odex_themecraft/static/src/fonts/arabic/DroidKufi-Bold.ttf) format('truetype');
}

// ARABIC - Amiri
@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    src: url(/odex_themecraft/static/src/fonts/arabic/Amiri/Amiri-Regular.eot);
    src: url(/odex_themecraft/static/src/fonts/arabic/Amiri/Amiri-Regular.woff2) format('woff2'),
        url(/odex_themecraft/static/src/fonts/arabic/Amiri/Amiri-Regular.woff) format('woff'),
        url(/odex_themecraft/static/src/fonts/arabic/Amiri/Amiri-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    src: url(/odex_themecraft/static/src/fonts/arabic/Amiri/Amiri-Bold.eot);
    src: url(/odex_themecraft/static/src/fonts/arabic/Amiri/Amiri-Bold.woff2) format('woff2'),
        url(/odex_themecraft/static/src/fonts/arabic/Amiri/Amiri-Bold.woff) format('woff'),
        url(/odex_themecraft/static/src/fonts/arabic/Amiri/Amiri-Bold.ttf) format('truetype');
}

// ARABIC - Droid Naskh
@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 400;
    src: url(/odex_themecraft/static/src/fonts/arabic/Naskh/DroidNaskh-Regular.eot);
    src: url(/odex_themecraft/static/src/fonts/arabic/Naskh/DroidNaskh-Regular.woff2) format('woff2'),
        url(/odex_themecraft/static/src/fonts/arabic/Naskh/DroidNaskh-Regular.woff) format('woff'),
        url(/odex_themecraft/static/src/fonts/arabic/Naskh/DroidNaskh-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 700;
    src: url(/odex_themecraft/static/src/fonts/arabic/Naskh/DroidNaskh-Bold.eot);
    src: url(/odex_themecraft/static/src/fonts/arabic/Naskh/DroidNaskh-Bold.woff2) format('woff2'),
        url(/odex_themecraft/static/src/fonts/arabic/Naskh/DroidNaskh-Bold.woff) format('woff'),
        url(/odex_themecraft/static/src/fonts/arabic/DroidNaskh-Bold.ttf) format('truetype');
}

// ARABIC - Frutiger LT Arabic
@font-face {
    font-family: 'Frutiger LT Arabic';
    font-style: normal;
    font-weight: 200;
    src: url(/odex_themecraft/static/src/fonts/arabic/Frutiger/Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Frutiger LT Arabic';
    font-style: normal;
    font-weight: 400;
    src: url(/odex_themecraft/static/src/fonts/arabic/Frutiger/Roman.ttf) format('truetype');
}

@font-face {
    font-family: 'Frutiger LT Arabic';
    font-style: normal;
    font-weight: 700;
    src: url(/odex_themecraft/static/src/fonts/arabic/Frutiger/Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Frutiger LT Arabic';
    font-style: normal;
    font-weight: 900;
    src: url(/odex_themecraft/static/src/fonts/arabic/Frutiger/Black.ttf) format('truetype');
}