.o_menu_sections{
    margin-right: auto!important;
}

.o_menu_systray{
    margin-left: 0!important;
}

.o_user_menu_mobile{
    display: none;
}

.o_menu_toggle{
    &.fa-chevron-left{
        margin-right: auto;
    }
}

.o_burger_menu .o_burger_menu_content .o_burger_menu_user .o_user_menu_mobile{
    display: block;
}

.o_burger_menu .o_burger_menu_content .o_burger_menu_user .o_user_menu_mobile a img{
    width: 30px!important;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: transparent;
}

.o_burger_menu .o_burger_menu_content.o_burger_menu_dark {
    background: $bg_main;
}

.o_burger_menu .o_burger_menu_topbar{
    background: $bg_main;
}

.o_burger_menu .o_burger_menu_content .o_burger_menu_app ul .o_menu_entry_lvl_1{
    color: $text_white;
}

.o_burger_menu .o_burger_menu_content .o_burger_menu_app ul .o_menu_entry_lvl_2{
    color: $text_white;
}

.o_burger_menu .o_burger_menu_content .o_burger_menu_app ul .o_menu_entry_lvl_3{
    color: $text_white;
}

.o_web_client .o_mobile_search .o_mobile_search_header{
    background-color: $text_white !important;
}

.o_web_client .o_mobile_search{
    height: 100%;
}

.o_base_settings .o_setting_container .settings_tab{
    z-index: 0;
}

.fa-check-square{
    color: $text_white;
}

.o_web_client .o_searchview.o_mobile_search > .o_mobile_search_content .o_mobile_search_filter .o_dropdown{
    border: none;
}

// .o_menu_toggle{
//     display: none;
// }

nav.o_main_navbar.small_nav {
    justify-content: left !important;
}
.o_main_navbar > ul > li.o_extra_menu_items.show > ul{
    transform: translate3d(0px, 46px, 0px) !important;
}

.o_menu_sections {
    .show{
        .dropdown-menu{
            &.show{
                left: 0!important;
                right: auto!important;
            }
        }
    }
}