$primary_accent: #001d3b !default;
$secondary_accent: #007dc5 !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: #555b6d !default;
$primary_hover: #124a84 !default;
$bg_main: #001d3b;
$bg_second: #007dc5;
$text_white: #ffffff !default;
// SIDEBAR THEME 
$sidebar_bg: linear-gradient(135deg, #007dc5 0%, #001d3b 45%);
$sidebar_logo_max_width: 100px;
$sidebar_menu_item_color: #FFFFFF;
$sidebar_menu_item_hover_color: #FFFFFF;
$sidebar_menu_item_hover_bg: #1e2230;
$sidebar_menu_padding: 0 0 150px 0;

