//Top Bar
body {
    font-family: "Poppins", sans-serif !important;
    background-color: #f8f8fb;
}
a {
    color: $primary_accent;
}
a:hover {
    color: $primary_hover;
}
a.btn {
    height: auto !important;
}
.o_main_navbar {
    color: $text_white !important;
    border: 1px !important;
}
.o_searchview_facet_label {
    background-color: $bg_main !important;
    color: $text_white !important;
    border: 1px !important;
}
// .o_web_client > header{
// background: $bg_main !important;
// }
.oe_topbar_name {
    color: $text_white !important;
}
.o_main_navbar > .o_menu_apps > li > a > i {
    color: $text_white !important;
    font-size: 16px !important;
}
.o_main_navbar {
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 0px solid $f_color !important;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03) !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03) !important;

    ul{
        &:last-child{
            margin-left: auto;
        }
    }
}

.top_heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_heading ul {
    margin-bottom: 0 !important;
}
.top_heading > a {
    margin-left: 10px;
    font-size: 20px;
}
.top_heading li {
    list-style: none;
}

.o-no-caret > i,
button[aria-pressed="true"] {
    color: $text_white !important;
}
.o_main_navbar > ul > li > a,
.o_main_navbar > ul > li > label {
    height: 46px;
    color: $text_white !important;
    line-height: 46px;
}
// .o_main_navbar > .o_menu_sections > li > a:hover, .o_main_navbar > .o_menu_systray > li > a:hover, .o_main_navbar > .o_menu_sections > li.show > a, .o_main_navbar > .o_menu_systray > li.show > a {
//     background-color: $bg_white !important;
// }

.topbar_icon .fa {
    color: $text_white !important;
    font-size: 20px !important;
}

.o_main_navbar .o_user_menu .oe_topbar_avatar {
    height: 35px;
    width: 35px;
}

//Responsive starts
@media (max-width: 992px) {
    .o_action_manager.sidebar_margin {
        margin: 0 !important;
    }
    .top_heading.sidebar_margin {
        margin: 0 !important;
    }
    .sidebar_panel .sidebar {
        position: relative;
        padding-top: 0px !important;
    }
    .sidebar_panel .sidebar_close {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .o_main_navbar > ul.o_menu_systray {
        position: static !important;
        height: auto !important;
        text-align: right;
        display: flex;
    }
}
@media (max-width: 480px) {
    ul.o_menu_apps {
        padding-left: 25px;
    }
    .o_control_panel {
        margin: 15px 10px 0 10px;
    }
    .o_control_panel > div {
        flex-wrap: wrap;
    }
    .o_cp_top_left,
    .o_cp_top_right,
    .o_cp_bottom_left,
    .o_cp_bottom_right {
        width: 100%;
    }
    .o_widget_Discuss .o_Discuss.o-mobile:not(.o-adding-item) {
        border: none !important;
    }
    html .o_web_client > .o_action_manager {
        overflow: auto !important;
    }
    ul.o_menu_systray.topbar_icon li:nth-child(1) {
        margin-left: 20px;
    }
    .o_main_navbar .o_user_menu {
        margin-left: 20px;
    }
    .sidebar_panel .sidebar .sidebar_logo img {
        max-width: 112px;
    }
    .sidebar_panel .sidebar .sidebar_logo {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 5px;
    }
    li.o_switch_company_menu.show .dropdown-menu.dropdown-menu-right.show {
        right: auto !important;
        left: 0px;
    }
    ul.o_menu_systray.topbar_icon .dropdown-menu.show {
        left: 0px !important;
        right: auto !important;
    }
    ul.o_menu_systray.topbar_icon {
        margin-left: 0;
        flex: none;
    }
    .o_MessagingMenu_dropdownMenu.o-mobile {
        top: 70px;
    }
    .o_control_panel .o_cp_bottom_right {
        flex-wrap: wrap;
    }
    .o_form_view .o_form_statusbar {
        flex-wrap: wrap;
    }
    .btn {
        padding: 2px 10px !important;
        height: 35px !important;
    }
    .o_form_view
        .o_form_statusbar
        > .o_statusbar_status
        > .o_arrow_button:not(:first-child):before,
    .o_form_view
        .o_form_statusbar
        > .o_statusbar_status
        > .o_arrow_button:not(:first-child):after {
        border-top: 17px solid transparent !important;
        border-bottom: 16px solid transparent !important;
    }
    .o_statusbar_status.o_field_widget.o_readonly_modifier {
        width: 100%;
        justify-content: flex-end;
        margin-top: 5px;
    }
    .o_form_view .o_form_statusbar > .o_statusbar_buttons > .btn {
        margin: 1px 0px 4px 0;
    }
    .o_form_statusbar .o_statusbar_buttons .btn {
        margin-right: 5px !important;
    }
    .o_control_panel
        .o_cp_bottom_left
        > .o_cp_action_menus
        .o_dropdown_toggler_btn {
        margin-right: 3px;
    }
    .o_form_view .o_form_sheet_bg > .o_form_sheet {
        min-width: auto;
    }
    .nav-tabs .nav-link {
        padding: 8px;
    }
    .modal.o_technical_modal.o_modal_full
        .modal-dialog
        .modal-content
        .modal-header {
        background: $primary_accent;
    }
    .o_form_view .o_group .o_group_col_6 {
        width: 100%;
    }
    .o_kanban_view.o_kanban_ungrouped .o_kanban_record {
        flex-wrap: wrap;
    }
    .o_kanban_view
        .o_kanban_record.o_kanban_record_has_image_fill
        .o_kanban_image_fill_left {
        border-radius: 5px;
    }
    .o_field_widget.o_field_image
        .o_form_image_controls
        > .fa.o_select_file_button {
        background: #74788d;
    }
}
@media (max-width: 390px) {
    .o_main_navbar .o_switch_company_menu > a .oe_topbar_name {
        display: inline-block;
        max-width: 110px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }
}

.badge {
    border: 1px solid $primary_accent;
}
@media (max-width: 768px) {
    .o_main_navbar {
        display: flex !important;
        justify-content: space-between !important;
    }
    .o_control_panel .o_cp_searchview {
        min-height: 35px;
        width: 98%;
    }
    button.o_enable_searchview.btn.btn-link.fa.fa-search {
        float: right;
        padding: 0 !important;
        margin-top: -9px;
    }
}
@media (max-width: 480px) {
    .o_control_panel > .o_cp_bottom {
        -webkit-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}

.o_MobileMessagingNavbar_tab.o-active {
    color: $primary_accent;
}
//Responsive ends
