@media screen and (max-width: 319px){}

@media screen and (min-width: 320px) and (max-width: 420px){}

@media screen and (min-width: 320px) and (max-width: 420px) and (min-device-height: 751px){}

@media screen and (min-width: 320px) and (max-width: 420px) and (max-device-height: 750px){}

@media screen and (min-width: 320px) and (max-width: 420px) and (max-device-height: 600px){}

@media screen and (min-width: 700px) and (max-width: 950px) and (max-device-height: 550px){
    .o_action_manager{
        .o_action{
            .o_control_panel{
                .o_cp_top{
                    .o_cp_top_left{
                        width: 30%!important;
                    }
                    .o_cp_top_right{
                        width: 70%!important;
                    }
                }
                .o_cp_bottom{
                    .o_cp_bottom_left{
                        width: 30%!important;
                    }
                    .o_cp_bottom_right{
                        width: 70%!important;
                        .o_search_options{
                            .o_filter_menu, .o_group_by_menu, .o_favorite_menu{
                                button{
                                    padding: 7px 0px!important;
                                    margin-inline-end: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 699px) and (max-device-height: 550px){
    .o_action_manager{
        .o_action{
            .o_control_panel{
                .o_cp_top{
                    .o_cp_top_left{
                        width: 30%!important;
                    }
                    .o_cp_top_right{
                        width: 70%!important;
                    }
                }
                .o_cp_bottom{
                    .o_cp_bottom_left{
                        width: 30%!important;
                    }
                    .o_cp_bottom_right{
                        width: 70%!important;
                        .o_search_options{
                            .o_filter_menu, .o_group_by_menu, .o_favorite_menu{
                                button{
                                    padding: 7px 0px!important;
                                    margin-inline-end: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 699px) and (max-device-height: 319px){
    .o_action_manager{
        .o_action{
            .o_control_panel{
                .o_cp_top{
                    .o_cp_top_left{
                        width: 30%!important;
                    }
                    .o_cp_top_right{
                        width: 70%!important;
                    }
                }
                .o_cp_bottom{
                    .o_cp_bottom_left{
                        width: 30%!important;
                    }
                    .o_cp_bottom_right{
                        width: 70%!important;
                        .o_search_options{
                            .o_filter_menu, .o_group_by_menu, .o_favorite_menu{
                                button{
                                    padding: 7px 0px!important;
                                    margin-inline-end: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}