.o_whatsapp_preview {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    color: #ffffff;
}

.o_whatsapp_preview .o_whatsapp_message {
    filter: invert(100%);
    background-color: #19222A;
    position: relative;
}

.o_whatsapp_preview .o_whatsapp_message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 0;
    border-color: transparent #19222A transparent transparent;
    top: 0;
    left: -8px;
}

.o_whatsapp_preview .o_whatsapp_buttons {
    filter: invert(100%);
}

.o_whatsapp_preview .o_whatsapp_buttons .o_whatsapp_btn {
    background-color: #19222A;
}

.o_whatsapp_preview .o_whatsapp_location_footer {
    background-color: #202930;
    border-style: solid;
    border-color: #2D3A40;
    border-width: 0 1px 1px 1px;
}